$valid: #198754;
$invalid: #dc3545;
$BG: #fff !default;
$sgMaxHeight: 150px !default;
$BorderColor: #dee2e6 !default;
$sgBorderWidth: 1px !default;
$sgBorderRadius: 0.375rem !default;
$sgColor: #000 !default;
$sgActiveBG: #1f64a5 !default;
$sgActiveColor: #fff !default;
$lengthRestrictBG: #fff !default;
$lengthRestrictColor: #808080 !default;
:root {
  --valid: #{$valid};
  --invalid: #{$invalid};
  --BG: #{$BG};
  --sgMaxHeight: #{$sgMaxHeight};
  --BorderColor: #{$BorderColor};
  --sgBorderWidth: #{$sgBorderWidth};
  --sgBorderRadius: #{$sgBorderRadius};
  --sgColor: #{$sgColor};
  --sgActiveBG: #{$sgActiveBG};
  --sgActiveColor: #{$sgActiveColor};
  --lengthRestrictBG: #{$lengthRestrictBG};
  --lengthRestrictColor: #{$lengthRestrictColor};
}

form.fv {
  // Label valid styles (only works if a parent is found)
  .Valid label {
    color: var(--valid);
  }
  // Label invalid styles (only works if a parent is found)
  .Invalid label {
    color: var(--invalid);
  }
  // Top messages tittle style
  div.fv-top-messages {
    h4 {
      font-variant: small-caps slashed-zero;
    }
  }
  // Default datalist styles
  datalist.fv-suggestions {
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: auto;
    // Optional datalist styles
    &.fv-suggestion_container {
      margin-top: 5px;
      border: var(--sgBorderWidth) solid var(--BorderColor);
      background-color: var(--BG);
      border-radius: var(--sgBorderRadius);
      max-height: var(--sgMaxHeight);
    }
    // Default options styles
    option {
      user-select: none;
    }
    // Optional options styles
    option.fv-suggestion_option {
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      line-height: 1.5;
      text-decoration: none;
      padding: 0.375rem 0.75rem;
      color: var(--sgColor);
      border-top: var(--sgBorderWidth) solid var(--BorderColor);
      &.active,
      &:hover {
        background-color: var(--sgActiveBG);
        color: var(--sgActiveColor);
      }
    }
  }
  // Default textarea length info styles
  div.fv-textAreaLength {
    border: 0;
    background: var(--lengthRestrictBG);
    color: var(--lengthRestrictColor);
    position: absolute;
    user-select: none;
    cursor: default;
    line-height: 1;
    font-size: small;
    font-weight: bold;
  }
  // Password requirements
  div.fv-password {
    position: absolute;
    border-top: 1px solid var(--BorderColor);
    border-radius: 0.375rem;
    padding: 0.375rem;
    margin-left: 0.75rem;
    background-color: var(--BG);
    box-shadow: var(--BorderColor) 3px 3px 5px, var(--BorderColor) -3px 3px 5px;
    z-index: 9999;
    div.tittle {
      font-weight: bold;
    }
    div.rule {
      margin: 0.375rem;
      user-select: none;
    }
    div.rule.check {
      color: var(--valid);
    }
    div.rule.no-check {
      color: var(--invalid);
    }
    div.rule::before {
      margin-right: 0.375rem;
    }
    div.rule.no-check::before {
      content: "\2715";
    }
    div.rule.check::before {
      content: "\2713";
    }
    div.strength-bar {
      text-align: center;
      min-height: 5px;
      max-height: 5px;
    }
    div.strength-bar.very-weak {
      background-color: #dc3545;
      width: 20%;
    }
    div.strength-bar.weak {
      background-color: #fd7e14;
      width: 40%;
    }
    div.strength-bar.normal {
      background-color: #ffc107;
      width: 60%;
    }
    div.strength-bar.strong {
      background-color: #198754;
      width: 80%;
    }
    div.strength-bar.very-strong {
      background-color: #198754;
      width: 100%;
    }
  }
}
